[package]
name = "oax-core"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[lib]
path = "src/lib.rs"

[dependencies]
async-trait = "0.1.89"
serde = { version = "1.0.228", features = ["derive"] }
serde_yaml = "0.9.34"
typeshare = "1.0.5"

[dev-dependencies]
serde_json = "1.0.149"
